@import "./src/scss/variables.scss";
.pokedexDetail{
  margin: 2em 0;

  .pokemonCard{
    @include media-xs{
      margin-bottom: 3em;
    }
    @include media-sm{
      margin-bottom: 3em;
    }
    @include media-lg{
      margin-bottom: initial;
    }
  }
}