@import "./src/scss/variables.scss";
.appHeader {
  // justify-content: space-between;
  .navbar{
    padding: 0.65rem;
    .navbar-brand {
      font-size: 2rem;
    }
    .searchInput {
      .form-control {
        padding: 1.5em 0.75em;
        &:focus {
          box-shadow: none;
        }
      }
      .searchIcon {
        border: none;
        background: white;
      }
      
    }
      .dropdown-menu {
        width: 100%;
        margin: 0;
        padding: 0;
        .dropdown-item {
          color: var(--color-secondary-text);
          padding-top: 0.75em;
          padding-bottom: 0.75em;
          &:not(:last-of-type) {
            border-bottom: solid 1px var(--color-background);
          }
          &.active {
            color: var(--color-text);
            background: var(--color-background);
          }
          &:active {
            background: var(--color-background);
          }
        }
      }
  }
}
