@import "./src/scss/variables.scss";
.filterRow {
  font-size: 1rem;
  .col-md-4 {
    @include media-xxl {
      flex: 0 0 25%;
      max-width: 25%;
    }
  }
  
  @include media-xs{
    .col-12{
      margin: 0.25em 0;
    }
  }
  .typeBtn{
    .dropdown-menu{
      max-height: 50vh;
      overflow: auto;
    }
  }
  .dropCol{
    @include media-md {
      padding-right: 1em;
    }
  }
  // .sortBtn {
    // box-shadow: 0 0 0 0.2rem rgba(216,217,219,.5);
    button.dropdown-toggle {
      position: relative;
      background: white;
      width: 100%;
      border: solid 1px rgba(0, 0, 0, 0.15);
      text-align: left;
      &:focus {
        box-shadow: none;
      }
      &:after {
        right: 0.3em;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
      }
    }
    .dropdown-menu {
      width: 100%;
      margin: 0;
      padding: 0;
      .dropdown-item {
        color: var(--color-secondary-text);
        padding-top: 0.75em;
        padding-bottom: 0.75em;
        &:not(:last-of-type) {
          border-bottom: solid 1px var(--color-background);
        }
        &.active {
          color: var(--color-text);
          background: var(--color-background);
        }
        &:active {
          background: var(--color-background);
        }
      }
    }
    &.show {
      .dropdown-toggle {
        border-bottom: transparent;
        border-bottom-right-radius: 0;
        border-bottom-left-radius: 0;
      }
      .dropdown-menu {
        border-top: transparent;
        border-top-right-radius: 0;
        border-top-left-radius: 0;
        border-bottom-right-radius: 0.3rem;
        border-bottom-left-radius: 0.3rem;
      }
    }
  // }
}
